.place__paragraph {
  margin: 0 0 26px;
  padding: 0;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}