.cover__title {
  margin: 0 auto;
  padding: 0;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 500px){
  .cover__title {
    max-width: 350px;
    font-size: 45px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px){
  .cover__title {
    max-width: 255px;
    font-size: 32px;
    line-height: 1.09;
  }
}